<div class="purchase-tiers">
	<div class="row -no-gutter">
		<div class="col-xs-12 col-sm-12 col-md-4 option">
				<div class="tier">
					<h4 class="name"><%- tierOne %></h4>
				</div>
				<ul class="included-list">
					<li class="title"><%- tierOneDescription %></li>
					<% for(var i=0; i<tierOneIncluded.length; i++) { %>
						<li><%- tierOneIncluded[i] %></li>
					<% } %>
					<% for(var i=0; i<tierOneExcluded.length; i++) { %>
						<li class="deselected"><%- tierOneExcluded[i] %></li>
					<% } %>
				</ul>

				<span class="sign-up">Buy Now</span>
				<span class="price"><%- tierOnePrice %><small><%- buyFreq %></small></span>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 option -preferred">
				<div class="tier">
					<h4 class="name"><%- tierTwo %></h4>
				</div>

				<ul class="included-list">
					<li class="title"><%- tierTwoDescription %></li>
					<% for(var i=0; i<tierTwoIncluded.length; i++) { %>
						<li><%- tierTwoIncluded[i] %></li>
					<% } %>
					<% for(var i=0; i<tierTwoExcluded.length; i++) { %>
						<li class="deselected"><%- tierTwoExcluded[i] %></li>
					<% } %>
				</ul>

				<span class="preferred">Best Value</span>
				<span class="sign-up">Buy Now</span>
				<span class="price"><%- tierTwoPrice %><small><%- buyFreq %></small></span>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-4 option">
				<div class="tier">
					<h4 class="name"><%- tierThree %></h4>
				</div>
				<ul class="included-list">
					<li class="title"><%- tierThreeDescription %></li>
					<% for(var i=0; i<tierThreeIncluded.length; i++) { %>
						<li><%- tierThreeIncluded[i] %></li>
					<% } %>
				</ul>

				<span class="sign-up">Buy Now</span>
				<span class="price"><%- tierThreePrice %><small><%- buyFreq %></small></span>
			</div>
	</div>
</div>