<div class="about-teacher well">
	<div class="info">
		<img src="<%- imageURL %>" class="teacher">
		<span class="name"><%- name %></span>
		<span class="twitter"><a href="<%- twitterURL %>"><%- twitterHandle %></a></span>
	</div>
	<p class="about"><%- about %></p>
</div>